<% if (isGroup) { %>
  <% messages.forEach(function(message) { %>
    <% if (message.messageType === 'text') { %>
      <div class="bubble <% if (message.senderId == user._id) { %> me <% } else { %> you <% } %>"
        data-mess-id="<%= message._id %>">
        <img src="/images/users/<%= message.sender.avatar %>" class="avatar-small" title="<%= message.sender.name %>">
        <%= message.text %>
      </div>
    <% } %>
    <% if (message.messageType === 'image') { %>
      <div class="bubble <% if (message.senderId == user._id) { %> me <% } else { %> you <% } %>  bubble-image-file group"
        data-mess-id="<%= message._id %>">
        <img src="/images/users/<%= message.sender.avatar %>" class="avatar-small" title="<%= message.sender.name %>">
        <img src="/images/chat/message/<%= message.file.fileName %>"
                            class="show-image-chat bubble-image">
      </div>
    <% } %>
    <% if (message.messageType === 'file') { %>
      <div class="bubble <% if (message.senderId == user._id) { %> me <% } else { %> you <% } %> bubble-image-file"
        data-mess-id="<%= message._id %>">
        <img src="/images/users/<%= message.sender.avatar %>" class="avatar-small" title="<%= message.sender.name %>">
        <a href="data: <%= message.file.contentType %>; base64; <%= message.file.data %>"
          download="<%= message.file.fileName %>">
          <%= message.file.fileName %>
        </a>
      </div>
    <% } %>
  <% }); %>
<% } else { %>
  <% messages.forEach(function(message) { %>
    <% if (message.messageType === 'text') { %>
      <div class="bubble <% if (message.senderId == user._id) { %> me <% } else { %> you <% } %>"
        data-mess-id="<%= message._id %>">
      <%= message.text %></div>
    <% } %>
    <% if (message.messageType === 'image') { %>
      <div class="bubble <% if (message.senderId == user._id) { %> me <% } else { %> you <% } %>  bubble-image-file"
        data-mess-id="<%= message._id %>">
        <img src="/images/chat/message/<%= message.file.fileName %>"
                            class="show-image-chat bubble-image">
      </div>
    <% } %>
    <% if (message.messageType === 'file') { %>
      <div class="bubble <% if (message.senderId == user._id) { %> me <% } else { %> you <% } %> bubble-image-file"
        data-mess-id="<%= message._id %>">
        <a href="data: <%= message.file.contentType %>; base64; <%= message.file.data %>"
          download="<%= message.file.fileName %>">
          <%= message.file.fileName %>
        </a>
      </div>
    <% } %>
  <% }); %>
<% } %>