<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <div class="top form-group">
            <select class="form-control" id="select-type-chat">
                <option data-target="#all-chat" value="all-chat">Toàn bộ trò chuyện</option>
                <option data-target="#user-chat" value="user-chat">Trò chuyện cá nhân</option>
                <option data-target="#group-chat" value="group-chat">Trò chuyện nhóm</option>
            </select>
            <a href="#groupChatModal" class="create-group-chat" data-toggle="modal" 
                title="Tạo một nhóm trò chuyện mới"></a>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="all-chat">
                <ul class="people no-padding-start">
                    <% allConversasions.forEach(function(conversasion) { %>
                        <% if (conversasion.name) { %>
                            <a href="#uid_<%= conversasion._id %>" class="room-chat">
                                <li class="person group-chat" data-chat="<%= conversasion._id %>">
                                    <div class="left-avatar">
                                        <!-- <div class="dot"></div> -->
                                        <img src="images/users/group-avatar-trungquandev.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span class="group-chat-name">Group:</span> <%= conversasion.name %>
                                    </div>
                                    <span class="time">Hai giờ trước</span>
                                    <span class="preview">Chào cả nhóm</span>
                                </li>
                            </a>
                        <% } else { %>
                            <a href="#uid_<%= conversasion._id %>" class="room-chat">
                                <li class="person" data-chat="<%= conversasion._id %>">
                                    <div class="left-avatar">
                                        <div class="dot"></div>
                                        <img src="images/users/<%= conversasion.avatar %>" alt="">
                                    </div>
                                    <div class="name">
                                        <%= conversasion.username %>
                                    </div>
                                    <span class="time">Một phút trước</span>
                                    <span class="preview">Xin chào</span>
                                </li>
                            </a>
                        <% } %>
                    <% }) %>
                </ul>
                <!-- <hr style="width: 90%; margin: auto;"> -->
                <div class="read-more-all-conversasion">
                    <a href="#" id="link-read-more-all-conversasion"><strong>Xem thêm</strong></a>
                </div>
            </div>
            <div class="tab-pane" id="user-chat">
                <ul class="people no-padding-start">
                    <% userConversasions.forEach(function(conversasion) { %>
                        <a href="#uid_<%= conversasion._id %>" class="room-chat">
                            <li class="person" data-chat="<%= conversasion._id %>">
                                <div class="left-avatar">
                                    <div class="dot"></div>
                                    <img src="images/users/<%= conversasion.avatar %>" alt="">
                                </div>
                                <div class="name">
                                    <%= conversasion.username %>
                                </div>
                                <span class="time">Một phút trước</span>
                                <span class="preview">Xin chào</span>
                            </li>
                        </a>
                    <% }) %>
                </ul>
                <!-- <hr style="width: 90%; margin: auto;"> -->
                <div class="read-more-user-conversasion">
                    <a href="#" id="link-read-more-user-conversasion"><strong>Xem thêm</strong></a>
                </div>
            </div>
            <div class="tab-pane" id="group-chat">
                <ul class="people no-padding-start">
                    <a href="#uidgroupChatItem._id" class="room-chat">
                        <% groupConversations.forEach(function(conversasion) { %> 
                            <a href="#uid_<%= conversasion._id %>" class="room-chat">
                                <li class="person group-chat" data-chat="<%= conversasion._id %>">
                                    <div class="left-avatar">
                                        <!-- <div class="dot"></div> -->
                                        <img src="images/users/group-avatar-trungquandev.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span class="group-chat-name">Group:</span> <%= conversasion.name %>
                                    </div>
                                    <span class="time">Hai giờ trước</span>
                                    <span class="preview">Chào cả nhóm</span>
                                </li>
                            </a>
                        <% }) %>
                    </a>
                </ul>
                <!-- <hr style="width: 90%; margin: auto;"> -->
                <div class="read-more-group-conversasion">
                    <a href="#" id="link-read-more-group-conversasion"><strong>Xem thêm</strong></a>
                </div>
            </div>
        </div>
        
    </div>
</div>

