<% allconversationWithMessages.forEach(function(conversation, index) { %>
    <% if (conversation.members) { %>
        <div class="modal fade" id="membersModal_<%= conversation._id %>" role="dialog">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Quản lý thành viên</h4>
                  </div>
                  <div class="modal-body">
                        <div class="col-md-5 col-sm-12 find-user-add-to-group">
                            <div class="row form-search-to-add">
                                <div class="form-group">
                                    <input type="text" class="form-control add-more-members" id="input-search-friends-to-add-group-chat_<%= conversation._id %>" placeholder="Tìm bạn bè để thêm vào nhóm" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-lg btn-add-more-members" type="button" id="btn-search-friends-to-add-group-chat_<%= conversation._id %>">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="row result-searched">
                                <ul id="group-chat-more-friends" class="<%= conversation._id %>">
                                    
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-12 list-user-added-member">
                            <ul id="friend-added">
                                <% conversation.members.forEach(function(member) { %>
                                    <li data-uid="<%= member.userId %>">
                                        <div class="contactPanelMember">
                                            <div class="user-avatar">
                                                <img src="images/users/<%= member.avatar %>" alt="">
                                            </div>
                                            <div class="user-name">
                                                <span class="user-name"><%= member.username %></span>
                                            </div>
                                            <br>
                                        </div>
                                    </li>
                                <% }) %>
                            </ul>
                            <div class="text-center" id="action-create-name-chat">
                                <br>
                                <button type="button" class="btn btn-primary" id="btn-save-group-chat">Thêm</button>
                                <button type="button" class="btn btn-danger" id="btn-cancel-group-chat">Hủy</button>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
        </div>
    <% } %>
<% }); %>
