<% newAllConversations.forEach(function(conversation) { %>
  <% if (conversation.name) { %>
      <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
          <li class="person group-chat" data-chat="<%= conversation._id %>">
              <div class="left-avatar">
                  <!-- <div class="dot"></div> -->
                  <img src="images/users/group-avatar-trungquandev.png" alt="">
              </div>
              <div class="name">
                  <span class="group-chat-name">
                      <% if (conversation.name.length > 15) { %>
                          <%= conversation.name.slice(0, 12) + '...' %>
                      <% } else { %>  
                          <%= conversation.name %>
                      <% } %>
                  </span> 
              </div>
              <span class="time"> <%= getDuration(conversation.messages) %></span>
              <span class="preview">
                  <%- getLastMessage(conversation.messages, user._id) %>
              </span>
          </li>
      </a>
  <% } else { %>
      <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
          <li class="person" data-chat="<%= conversation._id %>">
              <div class="left-avatar">
                  <div class="dot"></div>
                  <img src="images/users/<%= conversation.avatar %>" alt="">
              </div>
              <div class="name">
                  <% if (conversation.username.length > 15) { %>
                      <%= conversation.username.slice(0, 12) + '...' %>
                  <% } else { %>  
                      <%= conversation.username %>
                  <% } %>
              </div>
              <span class="time"> <%= getDuration(conversation.messages) %></span>
              <span class="preview">
                  <%- getLastMessage(conversation.messages, user._id) %>
              </span>
          </li>
      </a>
  <% } %>
<% }) %>
